/*=================
		Header
===================*/

/*header h1 {
	margin-bottom: -.25em;
	}*/

header div a {
	color: black;
}


nav {
	text-align: center;
	padding-top: 1em;
	background: #566220;
	margin-bottom: 1em;
}

nav li a {
	color: #E7E5D6;
}

nav li a:hover {
	color: #82999F;
}

nav li,
footer li {
	display: inline;
	margin: 0 3em;
}


/*==================
		Font
====================*/

h1,
h3,
h4,
h5 {
	color: #26484A;
}

h4.tagLine {
	text-align: center;
	margin-top: 1em;
}

section h4 {
	color: #003E47;
}

p {
	color: #4D4C4B;
}

section p,
footer li {
	color: black;
}

footer p {
	font-size: .75em;
}


/*==================
		Body
====================*/

body {
	background: url('../img/crossword.png');
}


article {
	margin: 0 auto;
}

section p{
	margin-top: 2em;
}

/*section.info {
	margin-top: -3em;
}*/

 .mar {
 	margin: 2em 0;
 }

 ul.files li a {
 	color: #429993;
 }

 ul.files li a:hover {
 	color: #82999F;
 }

li {
	color: black;
	list-style: none;
}

.bg1 {
	background: #9CAA6D;
	padding: 1.5em 0 0 0;
	margin-bottom: 1em;
	margin-top: -1em;
}

.bg1 p {
	color: #E7E5D6;
}

/*=================
		Images
==================*/

/*img, 
object {
max-width: 100%;
height: 200px;
margin-top: 2em;
margin-bottom: 2em;
}

img.logo {
	height: 108px;
	width: 360px;
	margin-top: 0;
	margin-bottom: 0;
}

img.mug {
	height: 300px;
	width: 700px;
}*/

/*=====================
	Contact
=======================*/

#gmap {
	height: 425px;
	width: 450px;
	margin: 3em;
}

.info {
	padding-top: 3em;
}

/*==================
		Orbit
====================*/

.orbit{
	width: 100%;
}

.orbit-img{
	height: 250px;
	width: 100%;
}

/*==================
		Accordion
====================*/

.accordion {
	margin: 1em 0;
}

.content::after {
	content : ".";
  display : block;
  height : 0;
  clear : both;
  visibility : hidden;
}

#acco {
	background: #DBE8E3;
}


/*==================
		Footer
====================*/

footer {
	border-top: .125em #344964 solid;
	padding-top: .5em;
	width: 100%;
}

